*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,body{
    height: 100%;
}

body{
    background-color: black;
}

section .box_big{
    width: 100%;
    
    
    
    
}

.box_top{
    width: 41.8%;
    height: 100px;
    background-color: orangered;
}

.box_left{
    width: 7%;
    height: 580px;
    background-color: orangered;
}

.container_global{
    width: 85%;
    height: 900px;
    margin: -580px 0px 0px 105px;
    background-color: rgba(15, 15, 15, 0.751);
}

header{
  width: 100%;
  
}

nav.menu_desktop{
    width: 100%;
    position: absolute;
    top:120px;
    
   
}

nav.menu_desktop ul{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 90px;
    margin-left: 55px;
    
 
    
    
}

nav.menu_desktop ul > li{
    list-style-type: none;
    
}

nav.menu_desktop li > a{
    text-decoration: none;
    font-size: 13pt;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: rgb(243, 243, 243);
    padding: 60px 15px 0px 15px;
}

nav.menu_desktop li > a:hover{
    background-color: orangered;
    
}

.box_text{
    width: 50%;
    margin: -500px auto;
    text-align: left;
    
    

}

.box_text span#welcome, span#my_name{
    font-size: 15pt;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: white;
    
}

.box_text h1{
    font-size: 32pt;
    font-weight: 600;
    font-family:'Poppins', sans-serif;
    color: orangered;
}

.box_text input#btn_linkedin, input#btn_github{
    padding: 10px 30px;
    font-size: 12pt;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.box_text > i#icon_linkedin{
    position: absolute;
    top: 0;
    right: 50px;
    font-size: 50pt;
    color: white;
}

.box_img{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    
    
}

.box_img img{
    margin: 120px 250px 0px 0px;
}


