*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,body{
    height: 100%;
}

body{
    background-color: black;
}

section .box_big{
    width: 100%;
    
    
    
    
}

.box_top{
    width: 50%;
    height: 100px;
    background-color: orangered;
}

.box_left{
    width: 7%;
    height: 580px;
    background-color: orangered;
}

.container_global{
    width: 95%;
    background-color: rgba(15, 15, 15, 0.751);
}

header{
  width: 100%;
  
}

nav.menu_desktop{
    width: 100%;
    position: absolute;
    top:120px;
   
}

nav.menu_desktop ul{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 120px;
    
    
}

nav.menu_desktop ul > li{
    list-style-type: none;
}

nav.menu_desktop li > a{
    text-decoration: none;
    font-size: 13pt;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: rgb(243, 243, 243);
}



